<div data-controller="demo">
    <input type="text" data-demo-target="content">
    <button data-action="click->demo#pushme">按我</button>
</div>

<div data-controller="demo">
    <input type="text" data-demo-target="content">
    <button data-action="click->demo#pushit">按它</button>
</div>